In [ ]:
# Ans no 1 :- In the given question values are ('hello',-87.8, 6) & expressions are (* , / , - , +)

In [ ]:
# Ans no 2 :- In  programming language variable is something that holds value and have storage location .variable may hold diffent values in the form of
#              strings , boolean, integers,complex numbers ,etc.
#              ex- A = ("ram" , 78 , True ,2+5j)
#              while a string is a kind of data type it is written in ('') single quote and ("") double quote and string use to contain or manipulate
#               textual data .
#               ex- ("hello").

In [ ]:
# Ans no 3 :- three diffrent data types
#             1. string = string is the data type that contain and used for manupulating the texual data in the form of single ("") and dounle ("") quote
#                         it contains charcters in the form of words  and sentences.
#                         ex-(" good evening")
#                            ('today is the thrusday and i am strting python assignments)

#             2.integer = integer is data type and it represents whole numbers without decimals . they can be positive or negetive
#                         ex-0, 5,-444,9999,

#             3.float = float is a data type it represnts real numbers with decimal
#                       ex- 1.5,-7.23,46.897

In [ ]:
# Ans no 4:- An expression in programming is a combination of values, variables, operators, and function calls that evaluates to a single value.
#            It represents a computation or a calculation.The expression in Python produces some value or result after being interpreted by
#            the Python interpreter

#           all expression in python programming language have the purpose of evaluating to a single value the value can be any data types like string
#           boolean ,integer ,float.expression allow to perform calculations,manupulate data make comparsion and make decision in programming language.

In [ ]:
# Ans no 5:-  Expressions are used to perform calculations, manipulate data, make comparisons they are used with in statement to provide the values and
#             condition necessary for the statement to execute .
#              ex- In 'spam=10' 10 is the expression of the variable spam that is assingned by the = operator .

#             statement is the complete unit of the code that perform an action or sequence of actions ,statement is used to control the flow of execution .
#              'spam=10' is a complete statement that carrying variable, expression and operator .

In [ ]:
# Ans no 6:-
bacon = 22
bacon + 1

# bacon varible is having the assigned value 22 and bacon +1 evaluate the value to 23 it will not affect the value  stored in  bacon that will unchanged
# if we want to change the value then we have to reassign its value .

23

In [ ]:
# Ans no 7:-
'spamspam'+'spam'
'spam'*3

# both will evaluate to the the string  and give same values .in first concatination will do and in second replication will do .

'spamspamspam'

In [ ]:
# Ans no 8:-  eggs is a valid varible name but 100 is not a valid variable name beacuse variable names cannot start with number so it will give error .

In [ ]:
# Ans no 9:- The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

In [ ]:
# Ans no 10:-
# 'i have eaten'+99+'burritos'
#The expression causes an error because 99 is an integer, and only strings can be concatenated to other strings with the + operator.
#The correct way is I have eaten ' + str(99) + ' burritos.'.