In [14]:
# Ans no 1:-
test1 = 'This is a test of the emergency text system,'

# Save test1 to a file named test.txt
with open('test.txt', 'w') as file:
    file.write(test1)

In [15]:
# Ans no 2:-
# Read the contents of test.txt into test2
with open('test.txt', 'r') as file:
    test2 = file.read()

# Print the value of test2
print(test2)

This is a test of the emergency text system,

In [16]:
test1 == test2

True

In [17]:
# Ans no 3:-
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

In [18]:
# Ans no 4:-
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year int)''')

In [20]:
db.commit()

In [22]:
# Ans no 5:-
import csv
import sqlite3
ins_str = 'insert into book values(?, ?, ?)'
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

In [ ]:
db.commit()

In [23]:
# Ans no 6:-
sql = 'select title from book order by title asc'
for row in db.execute(sql):
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

In [24]:
#to print the title value without that tuple stuff (parentheses and comma):
for row in db.execute(sql):
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [25]:
# Ans no 7:-
for row in db.execute('select * from book order by year'):
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [26]:
#To print all the fields in each row, just separate with a comma and space:
for row in db.execute('select * from book order by year'):
    print(*row, sep=', ')

The Weirdstone of Brisingamen, Alan Garner, 1960
Small Gods, Terry Pratchett, 1992
Perdido Street Station, China Miéville, 2000
Thud!, Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007

In [32]:
# Ans no 8:-
import pandas as pd
from sqlalchemy import create_engine
# Connect to the database
engine = create_engine('sqlite:///books.db')

In [33]:
import sqlite3
# Connect to the database
conn = sqlite3.connect("books.db")
cursor = conn.cursor()
# Execute the 'SHOW TABLES' command
cursor.execute("SELECT name from sqlite_master WHERE type='table';")
# Fetch all the results
tables = cursor.fetchall()
# Print the results
for table in tables:
    print(table)
# Close the connection
conn.close()

('book',)
('books',)

In [44]:
# Ans no 9:-
!pip install redis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: redis in /usr/local/lib/python3.10/dist-packages (4.6.0)
Requirement already satisfied: async-timeout>=4.0.2 in /usr/local/lib/python3.10/dist-packages (from redis) (4.0.2)

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

In [ ]:
# Ans no 10:-
conn.hincrby('test', 'count', 3)

In [ ]:
conn.hget('test', 'count')