In [2]:
# Ans no 1:-
guess_me = 7
if guess_me < 7:
  print('too low')
elif guess_me >8:
  print('too high')

else:
  print('just right')

just right

In [9]:
# Ans no 2:-
guess_me = 7
start = 1

while True:
    if start < guess_me:
        print('too low')
    elif start == guess_me:
        print('found it!')
        break
    else:
        print('oops')
        break
    start += 1

too low
too low
too low
too low
too low
too low
found it!

In [10]:
# Ans no 3:-
lst = [3,2,1,0]
for value in lst:
    print(value)

3
2
1
0

In [11]:
# Ans no 4:-
even = [number for number in range(10) if number % 2 == 0]
even

[0, 2, 4, 6, 8]

In [12]:
# Ans no 5:-
squares = {key: key*key for key in range(10)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [14]:
 # Ans no 6:-
odd = {number for number in range(10) if number % 2 == 1}
odd

{1, 3, 5, 7, 9}

In [15]:
# Ans no 7:-
generator = ('Got ' + str(num) for num in range(10))

for item in generator:
    print(item)

Got 0
Got 1
Got 2
Got 3
Got 4
Got 5
Got 6
Got 7
Got 8
Got 9

In [16]:
# Ans no 8:-
def good():
    return ['Harry', 'Ron', 'Hermione']
good()

['Harry', 'Ron', 'Hermione']

In [19]:
# Ans no 9:-
def get_odds():
    for number in range(1, 10, 2):
        yield number
count = 1
for number in get_odds():
    if count == 3:
        print("The third odd number is", number)
        break
    count += 1

The third odd number is 5

In [20]:
# Ans no 10:-
class OopsException(Exception):
    pass
raise OopsException()

OopsException: ignored

In [21]:
try:
    raise OopsException
except OopsException:
    print('Caught an oops')

Caught an oops

In [22]:
# Ans no 11:-
titles = ['Creature of Habit', 'Crewel Fate']
plots = ['A nun turns into a monster', 'A haunted yarn shop']
movies = dict(zip(titles, plots))
movies

{'Creature of Habit': 'A nun turns into a monster',
 'Crewel Fate': 'A haunted yarn shop'}