In [ ]:
# Ans no 1:- In python ,this sign [] indicates the list that is an empty list .list is a collection and sequence of items in it .
#              ex-[1,'hi',22.5, 999]

In [ ]:
# Ans no 2:-
spam = [2,4,6,8,10]

spam[2]

6

In [ ]:
spam[2]="hello"

spam[2]

spam

# spam is a varible that is holding the values in the list assigned by operator .i.e [2,4,6,8,10] for replacing the 3rd value in the list we use indexing
# so the 3rd value of the list is at 2nd index .by reassigning the value of 2nd index by 'hello' we will get the output.

[2, 4, 'hello', 8, 10]

In [ ]:
# Ans no 3:-
spam=['a','b','c','d']

spam[int(int('3'*2)/11)]

#the value of spam[int('3'*2)/11] is d.  '3' * 2 is the string '33', which is passed to int() before being divided by 11. This eventually evaluates to 3.
# so 3 index value of the list is d.

'd'

In [ ]:
# Ans no 4 :-
spam[-1]

# d is the value of spam[-1].in reverse order of indexing [-1] is considerded as the last value of indexing of the list i.e. d .

'd'

In [ ]:
# Ans no 5 :-
spam[:2]

# ['a','b'] is the value of spam[:2].in indexing [:2] means indexing start from 0th index and upto 2nd index except the 2nd index value .here 0th index
#  value is 'a' and 1st index value is 'b' .

['a', 'b']

In [ ]:
# Ans no 6:-
bacon = [3.14,'cat',11,'cat',True]
bacon.index('cat')

# bacon.index('cat') has 1st index value ,because in a list if a same type of the data type is given at twice in  the list then the index of that
# data type is consider the 1st written value of that data type .here 'cat' is at 1st and 3rd index so it will give the 1st index if we ask
# index of the cat.

1

In [ ]:
# Ans no 7:-
bacon.append(99)

bacon

# bacon.append(99) will add the value of 99 in the list at last index permanently .

[3.14, 'cat', 11, 'cat', True, 99]

In [ ]:
# Ans no 8:-
bacon.remove('cat')

bacon

# bacon.remove('cat) will remove the 1st index 'cat' permanently from the list.

[3.14, 11, 'cat', True, 99]

In [ ]:
# Ans no 9:- The operator for list concatenation is +, while the operator for replication is *. (This is the same as for strings.)

In [ ]:
# Ans no 10:- While append() will add values only to the end of a list, insert() can add them anywhere in the list.

In [ ]:
# Ans no 11:- the two methods for removing items from a list are remove() and pop(). The remove() method removes an item based on its value,
#             while the pop() method removes an item based on its index.

In [ ]:
# Ans no 12:- Both lists and strings can be passed to len(), have indexes and slices, be used in for loops, be concatenated or replicated, and be used
#             with the in and not in operators.

In [ ]:
#Ans no 13 :- Lists are mutable; they can have values added, removed, or changed. Tuples are immutable; they cannot be changed at all.
#             Also, tuples are written using parentheses, ( and ), while lists use the square brackets, [ and ].

In [ ]:
# Ans no 14:-
A =(42,)

# by this way we can write tuple that contain only integer 42 with coma .coma defrentiate the tuples from parenthesis.

In [ ]:
# Ans no 15:- To get a list value's tuple form, we can use the 'tuple()' function, which takes an iterable (such as a list) and converts it into a tuple.

#              To get a tuple value's list form, we can use the 'list()' function, which takes an iterable (such as a tuple) and converts it into a list.

In [ ]:
 # Ans no 16:-  variables that "contain" list values store references or pointers to the actual list objects in memory rather than containing
 #              the list data directly.
 #               ex-list1 = [1, 2, 3]
 #                  list2 = list1

In [ ]:
# Ans no 17:-The copy.copy() function will do a shallow copy of a list, while the copy.deepcopy() function will do a deep copy of a list. That is, only
#            copy.deepcopy() will duplicate any lists inside the list.
#            copy.deepcopy() creates a deep copy with completely independent copies of nested objects.